body{
  height: auto;
  margin: auto;
  width: auto;
  background-color: #dccdab;
  background: linear-gradient(#D9CEAB, #ffffff);
  background-attachment: fixed;
  background-repeat: non-repeat;
  background-size: cover;
  
}
.text{
  font-size: 1rem;
  text-indent: 1rem;
}
.btn-wrapper{
  text-align: center;
  margin-top: 16px;
}
.btn{
  display: inline-block;
  width: auto;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 12px;
  background-color: #528ec5;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
.galeri img{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
.galeri{
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
}
.table-container{
  overflow-x: auto;
  margin: 20px 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  min-width: 400px;
}
th, td{
  border: 1px solid #ccc;
  padding: 12px;
  text-align: left;
  }
